:root {
    --background: #F0F2F5;
    --azul-botao: #166FE5;
    --verde-botao: #36A420;
    --textos-links: #000;
    --textos-paragrafos: #333;
}
body {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header {
    margin: 5px 0 0 5px;
}
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo {
    width: 250px;
    margin-bottom: -30px;
}
.paragrafo {
    font-family: 'Lucida Sans', sans-serif;
    color: var(--textos-paragrafos);
    font-size: 1.1rem;
    line-height: 1.2;
    width: 320px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 390px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.286);
    background-color: #fff;
}
.input {
    width: 350px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 6px 0;
}
.btn {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 350px;
    height: 45px;
    cursor:pointer;
}
.btn1 {
    background-color: var(--azul-botao);
    margin: 15px 0;
}
.btn1:hover {
    background-color: #0f5dc4;
}
.btn2 {
    background-color: var(--verde-botao);
    width: 200px;
    margin-top: 20px;
}
.btn2:hover {
    background-color: #338f21;
}
.link_esqueceu {
    color: var(--azul-botao);
    text-decoration: none;
    font-size: 17px;
    font-weight: 540;
    margin-bottom: 7px;
}
.linha {
    border-bottom: 1px solid #bcbcbc;
    width: 350px;
    margin: 10px 0;
}
.paragrafo_info {
    width: 390px;
    color: var(--textos-paragrafos);
    font-size: 1rem;
}
.link {
    color: var(--textos-links);
    font-weight: bold;
    text-decoration: none;
}
.link:hover,
.link_esqueceu:hover {
    text-decoration: underline;
}
.footer {
    margin-top: 100px;
}
.footer a {
    color:var(--azul-botao);
    text-decoration: none;
}
.footer a:hover {
    color: var(--verde-botao);
}
/* TESTANDO */
.dark_mode {
    background-color: #000000fa;
    color: white;
}
.dark_mode_p {
    color: white;
}
.btn_dark-white {
    background-color: var(--azul-botao);
    width: 90px;
    height: 30px;
    font-size: 14px;
}